<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="298834093151-666685j5no67jmtdnrg3plog499ad2hg.apps.googleusercontent.com">
    <title>大濕之音集合</title>

    <link rel="icon" href="./images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <style>
        html, body, #app{
            width: 100%;
            height: 100%;
            margin: 0px;
            background-color: #272727;
            color: #FFFFFF;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
        const API_URL = 'https://script.google.com/macros/s/AKfycbw93KwmFrhh2tw3fSrQgHrZJZjLULHYUpSyIxueINRbt8ykB6buQjKYngEqfOi5lkftHg/exec';
        (function(){
            var userData//, vApp;
            function parseJwt (token) {
                var base64Url = token.split('.')[1];
                var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
                var jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
                    return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
                }).join(''));

                return JSON.parse(jsonPayload);
            };

            function filter(uniqueID, data){
                var newData = {
                    my: [],
                    other: []
                };
                for(let i of data){
                    if(i.uniqueID == uniqueID){
                        i.editing = false;
                        i.tempDescribe = i.describe;
                        i.tempUrl = i.url;
                        newData.my.push({...i});//建立新物件，使editing能夠被追蹤
                    }else
                        newData.other.push(i);
                }
                return newData;
            }

            window.onload = function(){
                vApp = new Vue({
                    el: '#app',
                    vuetify: new Vuetify(),
                    data: {
                        VERSION: '1.0.0927',

                        list: {
                            my: [
                                // {
                                //     uniqueID: '89334234234',
                                //     describe: 'poi',
                                //     url: ''
                                // },
                            ],
                            other:[]
                        },
                        newData: {
                                    show: false,
                                    describe: '',
                                    url: ''
                                },
                        fieldDescribeRules: [
                            value => !value.match(/^\s*$/) || '不可為空',
                        ],
                        fieldUrlRules: [
                            value => {
                                var r = false;
                                try{
                                    let url = new URL(value);
                                    r = (url.host + url.pathname).startsWith('jack850628.github.io/wet-elephant-sound/');
                                }catch(e){}
                                return r || '必須是大濕之音的連結'
                            },
                        ],

                        showAddButton: false,
                        about: false,
                        pleaseWaitDialog: false,
                        messageDialog: false,
                        message: '',
                        doDeleteDialog: false,
                        deleteDataIndex: -1,
                        
                        searchString: ''
                    },
                    watch:{
                    },
                    methods: {
                        create(){
                            this.pleaseWaitDialog = true;
                            var queryParams = new URLSearchParams();
                            queryParams.append('token', userData.token);
                            queryParams.append('describe', this.newData.describe);
                            queryParams.append('url', this.newData.url);
                            fetch(API_URL, {
                                method: 'POST',
                                redirect: "follow",
                                headers: {
                                    'content-type': 'application/x-www-form-urlencoded'
                                },
                                body: queryParams.toString()
                            }).then(response => response.json()).then((result) => {
                                this.pleaseWaitDialog = false;
                                if(result.status == 'success'){
                                    this.list.my.unshift({
                                        id: result.message,
                                        uniqueID: userData.sub,
                                        describe: this.newData.describe,
                                        url: this.newData.url,
                                        editing: false,
                                        tempDescribe: this.newData.describe,
                                        tempUrl: this.newData.url
                                    });
                                    this.newData.show = false;
                                    this.newData.describe = '';
                                    this.newData.url = '';
                                }else{
                                    this.messageDialog = true;
                                    this.message = result.message;
                                }
                            }).catch(e => {
                                this.messageDialog = true;
                                this.message = '新增失敗';
                            });
                        },
                        send(data){
                            this.pleaseWaitDialog = true;
                            var queryParams = new URLSearchParams();
                            queryParams.append('token', userData.token);
                            queryParams.append('id', data.id);
                            queryParams.append('describe', data.tempDescribe);
                            queryParams.append('url', data.tempUrl);
                            fetch(API_URL, {
                                method: 'POST',
                                redirect: "follow",
                                headers: {
                                    'content-type': 'application/x-www-form-urlencoded'
                                },
                                body: queryParams.toString()
                            }).then(response => response.json()).then((result) => {
                                this.pleaseWaitDialog = false;
                                if(result.status == 'success'){
                                    data.describe = data.tempDescribe;
                                    data.url = data.tempUrl;
                                    data.editing = false;
                                }else{
                                    this.messageDialog = true;
                                    this.message = result.message;
                                }
                            }).catch(e => {
                                this.messageDialog = true;
                                this.message = '更新失敗';
                            });
                        },
                        doDelete(i){
                            this.doDeleteDialog = false;
                            this.pleaseWaitDialog = true;
                            var queryParams = new URLSearchParams();
                            queryParams.append('token', userData.token);
                            queryParams.append('id', this.list.my[i].id);
                            queryParams.append('doDelete', true);
                            fetch(API_URL, {
                                method: 'POST',
                                redirect: "follow",
                                headers: {
                                    'content-type': 'application/x-www-form-urlencoded'
                                },
                                body: queryParams.toString()
                            }).then(response => response.json()).then((result) => {
                                this.pleaseWaitDialog = false;
                                if(result.status == 'success'){
                                    this.list.my.splice(i, 1);
                                }else{
                                    this.messageDialog = true;
                                    this.message = result.message;
                                }
                            }).catch(e => {
                                this.messageDialog = true;
                                this.message = '刪除失敗';
                            });
                        },

                        open(url){
                            window.open(url);
                        },

                        goToWetElephantSound(){
                            window.open('https://jack850628.github.io/wet-elephant-sound/');
                        }
                    },
                    mounted(){
                        fetch(API_URL).then(response => response.json()).then((data) => {
                            if(userData)
                                this.list = filter(userData.sub, data);
                            else
                                this.list.other = data;
                        })
                    }
                });
            };
            window.onSignIn = function(googleUser){
                userData = parseJwt(googleUser.credential);
                userData.token = googleUser.credential;
                while(vApp.list.my.length > 0){
                    let i = vApp.list.my.pop();
                    vApp.list.other.push({
                        id: i.id,
                        uniqueID: i.uniqueID,
                        describe: i.describe,
                        url: i.url
                    })
                }
                if(vApp.list.other.length > 0){
                    vApp.list = filter(userData.sub, vApp.list.other);
                }
                vApp.showAddButton = true;
            }
        })();
    </script>
</head>
<body>
    <div id="app">
        <v-app>
            <v-app-bar color="#666666" dark app>
                <v-toolbar-title>大濕之音集合</v-toolbar-title>
                <v-spacer></v-spacer>
                <div style="display: flex; align-items: center;">
                    <div id="g_id_onload"
                        data-client_id="298834093151-666685j5no67jmtdnrg3plog499ad2hg.apps.googleusercontent.com"
                        data-context="signin"
                        data-ux_mode="popup"
                        data-callback="onSignIn"
                        data-auto_prompt="true">
                    </div>
                    <div class="g_id_signin"
                        data-type="standard"
                        data-shape="pill"
                        data-theme="filled_black"
                        data-text="signin_with"
                        data-size="large"
                        data-logo_alignment="left">
                    </div>
                </div>
                <v-btn dark depressed @click="goToWetElephantSound()">
                    大濕之音
                </v-btn>
                <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn icon @click="about = true" v-bind="attrs" v-on="on">
                            <v-icon>mdi-information-outline</v-icon>
                        </v-btn>
                    </template>
                    <span>關於</span>
                </v-tooltip>
            </v-app-bar>
            <v-main>
                <v-text-field dark v-model="searchString" label="搜尋"></v-text-field>
                <v-list dark>
                    <v-subheader v-show="list.my.length > 0">我的組合</v-subheader>
                    <v-list-item style="background-color: #695602;" v-show="newData.show">
                        <template>
                            <v-list-item-content>
                                <v-text-field
                                    label="描述"
                                    v-model="newData.describe"
                                    :rules="fieldDescribeRules"
                                    hide-details="auto"
                                ></v-text-field>
                                <v-text-field
                                    label="連結"
                                    v-model="newData.url"
                                    :rules="fieldUrlRules"
                                    hide-details="auto"
                                ></v-text-field>
                            </v-list-item-content>
                            <v-list-item-action>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn icon @click="create()" :disabled="typeof(fieldDescribeRules[0](newData.describe)) != 'boolean' || typeof(fieldUrlRules[0](newData.url)) != 'boolean'" v-bind="attrs" v-on="on">
                                            <v-icon>mdi-content-save-outline</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>儲存</span>
                                </v-tooltip>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn icon @click="newData.show = false" v-bind="attrs" v-on="on">
                                            <v-icon>mdi-close-circle-outline</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>取消</span>
                                </v-tooltip>
                            </v-list-item-action>
                        </template>
                    </v-list-item>
                    <v-list-item-group>
                        <template v-for="(i, k) in list.my">
                            <div v-show="i.describe.indexOf(searchString) > -1">
                                <v-list-item :key="k" @click="!i.editing && open(i.url)">
                                    <template v-if="!i.editing">
                                        <v-list-item-content>
                                            <v-list-item-title v-text="i.describe"></v-list-item-title>
                                            <v-list-item-subtitle  v-text="'有聲圖'" v-if="i.url.indexOf('soundImage.html') > -1"></v-list-item-subtitle >
                                        </v-list-item-content>
                                        <v-list-item-action>
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-btn icon @click.stop="i.editing = true" v-bind="attrs" v-on="on">
                                                        <v-icon>mdi-pencil-outline</v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>編輯</span>
                                            </v-tooltip>
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-btn icon @click.stop="deleteDataIndex = k; doDeleteDialog = true" v-bind="attrs" v-on="on">
                                                        <v-icon>mdi-delete-outline</v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>刪除</span>
                                            </v-tooltip>
                                        </v-list-item-action>
                                    </template>
                                    <template v-else>
                                        <v-list-item-content>
                                            <v-text-field
                                                label="描述"
                                                v-model="i.tempDescribe"
                                                :rules="fieldDescribeRules"
                                                hide-details="auto"
                                            ></v-text-field>
                                            <v-text-field
                                                label="連結"
                                                v-model="i.tempUrl"
                                                :rules="fieldUrlRules"
                                                hide-details="auto"
                                            ></v-text-field>
                                        </v-list-item-content>
                                        <v-list-item-action>
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-btn icon @click.stop="send(i)" :disabled="typeof(fieldDescribeRules[0](i.tempDescribe)) != 'boolean' || typeof(fieldUrlRules[0](i.tempUrl)) != 'boolean'" v-bind="attrs" v-on="on">
                                                        <v-icon>mdi-content-save-outline</v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>儲存</span>
                                            </v-tooltip>
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-btn icon @click.stop="i.editing = false" v-bind="attrs" v-on="on">
                                                        <v-icon>mdi-close-circle-outline</v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>取消</span>
                                            </v-tooltip>
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>
                                <v-divider></v-divider>
                            </div>
                        </template>
                    </v-list-item-group>
                    <v-subheader>其他組合</v-subheader>
                    <v-list-item-group>
                        <template v-for="(i, k) in list.other">
                            <div v-show="i.describe.indexOf(searchString) > -1">
                                <v-list-item :key="k" @click="open(i.url)">
                                    <template>
                                        <v-list-item-content>
                                            <v-list-item-title v-text="i.describe"></v-list-item-title>
                                            <v-list-item-subtitle  v-text="'有聲圖'" v-if="i.url.indexOf('soundImage.html') > -1"></v-list-item-subtitle >
                                        </v-list-item-content>
                                        <v-list-item-action>
            
                                        </v-list-item-action>
                                    </template>
                                </v-list-item>
                                <v-divider></v-divider>
                            </div>
                        </template>
                    </v-list-item-group>
                </v-list>

                <v-dialog v-model="pleaseWaitDialog" max-width="500px" persistent>
                    <v-card>
                        <v-card-title>
                        </v-card-title>
                        <v-card-text>
                            <v-progress-circular indeterminate color="primary"></v-progress-circular>
                            <span>請稍後</span>
                        </v-card-text>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="messageDialog" max-width="500px">
                    <v-card>
                        <v-card-title>
                            訊息
                        </v-card-title>
                        <v-card-text>
                            {{message}}
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" text  @click="messageDialog = false">
                                關閉
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="doDeleteDialog" max-width="500px">
                    <v-card>
                        <v-card-title>
                            最後確認
                        </v-card-title>
                        <v-card-text>
                            確定要刪除？
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="pink" text  @click="doDelete(deleteDataIndex)">
                                是的
                            </v-btn>
                            <v-btn color="primary" text  @click="doDeleteDialog = false">
                                沒有
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="about" max-width="500px">
                    <v-card>
                        <v-card-title>
                            關於
                        </v-card-title>
                        <v-card-text>
                            大濕之音集合
                            <br>
                            var:{{VERSION}}
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" text  @click="about = false">
                                關閉
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

                <v-fab-transition>
                    <v-btn dark absolute bottom right fab style="position: fixed; bottom: 20;" @click="newData.show = true; $vuetify.goTo(0)" v-show="showAddButton">
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                </v-fab-transition>
            </v-main>
          
            <!-- <v-footer app>
            </v-footer> -->
        </v-app>
    </div>
</body>
</html>